<!DOCTYPE html>
<html>
<head>
  <title>Magistellus-Arts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div id="banner">

  </div>

  <div id="navbar">

  </div>

  <div id="body">
    <%= yield %>
  </div>

  <div id="footer">
  </div>
</div>

</body>
</html>
